
.kHeader {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
  color: black;
  background-color: white;
}

.headerImage {
  background-color: white;
  width: 100%;
  height: 100%;
}
