.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  white-space: nowrap;
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:active .tooltiptext {
  visibility: visible;
}

.versionInfo {
  display: flex;
  text-align: center;
}

.kFooter {
  border-top: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1em;
  color: black;
  background-color: white;
}

.footerImage {
  background-color: white;
  width: 100%;
  height: 100%;
}
